* {
  margin: 0;
  padding: 0;
}

/*      TOP     */

.top {
  display: flex;
}

/*      LEFT CONTAINER      */

.left {
  width: 50%;
  float: left;
}

/*      RIGHT CONTAINER     */

.right {
  width: 50%;
}

/*      FOOTER      */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
