* {
  margin: 0;
  padding: 0;
}

/*      TOP     */

.top {
  display: flex;
}

/*      LEFT CONTAINER      */

.left {
  width: 60%;
  float: left;
}

/*      RIGHT CONTAINER     */

.right {
  width: 40%;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url("./images/hero-desktop.jpg");
  background-size: cover;
  background-position: center;
}

/*      FOOTER      */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
